*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #000;
  display: flex;
  align-items: start;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  margin-top: 133px;
  max-width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
}

video {
  width: 100%;
  min-height: 100%;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
} 

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  justify-items: flex-start;
}

.search-form__fieldset-title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 17px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  height: 534px;
  width: 399px;
  }

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__accent::after {
  content: "-";
  position: absolute;
  top: 125px;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  margin: 3px;
}

.content__card-link:focus-visible{
  outline: 1px solid #FFF;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card {
  display: inline-flex;
  align-items: start;
  width: 399px;
  justify-content: space-between;
}

.content__video-card:active {
 background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 105px;
}

.content__video-card-description-container {
  display: flex;
  padding: 2px;
  flex-direction: column;
  gap: 2px;
}

.content__video-card-description:hover {
  text-decoration-line: underline;
  text-decoration-color: #FFF
}

.content__video-card-title {
  color: #FFF; 
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-title:hover {
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-decoration-color: #FFF
}

.content__video-card-description {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

fieldset {
  border: none; 
}

.search-form__textfield {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.70);
  background-color: transparent;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border: 1px solid #FFF;
  cursor: pointer;
}

.search-form__label-text {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.search-form__label {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover:has(.search-form__label-text:not(.visually-hidden)) {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
}

input[type='checkbox']:checked + span {
  background-image: url(../images/Group\ 38.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.content__list {
  overflow: hidden;
  position: relative;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.content__list:hover {
  overflow-y: auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #FFF;
  cursor: pointer;
  font-size: 16px;
}
 
 button:hover {
  text-decoration: underline;
 }

 button:active {
  background-color: #545050;
 }

 button:focus-visible {
  outline: 1px solid #fff;
}

 .search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 399px;
  height: 34px;
  margin-bottom: 1px;
}

